<h3 class="page-title">Company presentation</h3>

<p>
    Avitronics International AB was started in 1994. 
    The company has since then developed into a successful aviation electronics trading company, with markets in the Nordic countries, Eastern European, Russia, India and South East Asia. 
    Avitronics is situated in Stockholm, Sweden.
</p>
<p>
    The Business Idea of Avitronics Inernational AB is to <b>to represent foreign manufacturers with unique High-Tech products and systems to the following market segments:</b>
</p>
<ul>
  <li>
      Military organizations
  </li>
  <li>
      Nordic Defence Companies
  </li>
  <li>
      Helicopter operators; civil, military and police
  </li>
  <li>
      Civil Aviation Authorities
  </li>
  <li>
      Helicopter OEM’s and system/integration companies
  </li>
</ul>
<p>
    Below is the organizational chart for Avitronics:
</p>
<div class="org-chart">
    <img src="../../assets/images/Avitronics_Org.jpg"  alt="Organizational chart">
</div>