<h3 class="page-title">Companies represented</h3>


<div style="padding-bottom: 35px;">
    Avitronics represents a number of companies and products. 
    Please read more about them below.
</div>

<!-- <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Atis Systems GmbH - Germany">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="BAE Systems Integrated Defence Inc.	- USA">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Becker Flugfunkwerk GmbH	- Germany">
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Diehl BGT Defence GmbH	- Germany">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
</ngb-accordion> -->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseAtis">Atis Systems GmbH - Germany</a>
      </h4>
    </div>
    <div id="collapseAtis" class="panel-collapse collapse">
      <div class="panel-body">
        High-Tech Communications Interception and Voice recording systems for over 60 years.
      </div>
      <div class="panel-footer"><a href="https://www.atis-systems.com"  target="_blank">www.atis-systems.com</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseBae">BAE Systems Integrated Defence Inc.	- USA</a>
      </h4>
    </div>
    <div id="collapseBae" class="panel-collapse collapse">
      <div class="panel-body">
        BAE Systems manufactures Countermeasures Dispensing System for fixed wing and helicopter, computer-controlled self-defense system with enhanced capabilities for chaff, flare, and advanced decoy dispensing.
      </div>
      <div class="panel-footer"><a href="http://www.baesystems.com"  target="_blank">www.baesystems.com</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseBecker">Becker Flugfunkwerk GmbH - Germany</a>
      </h4>
    </div>
    <div id="collapseBecker" class="panel-collapse collapse">
      <div class="panel-body">
        Becker Avionics manufactures well known avionics equipment for fixed wing aircraft and helicopters and ground based VHF and UHF radio systems.
      </div>
      <div class="panel-footer"><a href="http://www.becker-avionics.com/"  target="_blank">www.becker-avionics.com</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseDiehl">Diehl BGT Defence GmbH - Germany</a>
      </h4>
    </div>
    <div id="collapseDiehl" class="panel-collapse collapse">
      <div class="panel-body">
        The product portfolio of Diehl BGT Defence focuses on seeker-guided missiles, intelligent and conventional ammunition as well as training systems.
        Its experience gathered over decades in the development and production of missiles and ammunition makes Diehl BGT Defence an internationally renowned competence center in these technological areas.
        Furthermore, Diehl BGT Defence has established itself in the growth markets of reconnaissance and surveillance, protection and security with highly modern technological solutions.
      </div>
      <div class="panel-footer"><a href="http://www.diehl.com/en/diehl-defence.html"  target="_blank">www.diehl.com</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseEuro">EuroAvionics GmbH	&	Co. KG - Germany</a>
      </h4>
    </div>
    <div id="collapseEuro" class="panel-collapse collapse">
      <div class="panel-body">
        EuroAvionics is the leading manufacturer of task management and navigation systems for helicopters.
        Founded in 1994 by a professional helicopter pilot and engineer, the company evolved over a decade to what it is today - an advanced aerospace supplier with an international partner framework.
      </div>
      <div class="panel-footer"><a href="https://www.euroavionics.com/"  target="_blank">www.euroavionics.com</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseISEI">ISEI - France HeliSafe</a>
      </h4>
    </div>
    <div id="collapseISEI" class="panel-collapse collapse">
      <div class="panel-body">
        By monitoring routine flight data, the Helicopter organization can achieve greater insight into the flight operation AND maintenance operation and provides additional information to increasing your flight performance in every way while decreasing costs.
        <ul style="padding-top: 10px;">
          <li>
              Compliant with IR-OPS* (OPS3), is a Helicopter Flight Data Monitoring system (HFDM), a Usage Monitoring System (UMS), a Helicopters Operation Monitoring Program (HOMP), and a Flight Operation Quality Assurance (FOQA) for FAA and EASA.
              <br>
              <b>Note:</b> EASA requires FDM (UMS) for single light helicopter (depending of missions and areas of flight [OPS3 then IR-OPS]), and from October 2014 for twin light and medium helicopters also [IR-OPS issued in October 2012].
          </li>
          <li>
              Tracking through Iridium network (optional). Fees do not change in regard to the number of people for the Operators who have an internet Server access.
          </li>
          <li>
              Helicopter attitude from existing AHRS (only data read and known by the Pilot are stored and monitored).
          </li>
          <li>
              Fully automatic, once set up, it runs automatically from storage to alert.
          </li>
        </ul>
      </div>
      <div class="panel-footer"><a href="http://www.isei.info/"  target="_blank">www.isei.info</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseOip">OIP Sensor	Systems	- Belgium</a>
      </h4>
    </div>
    <div id="collapseOip" class="panel-collapse collapse">
      <div class="panel-body">
          OIP Sensor Systems specializes in design, development and manufacture of high-end 
          opto-electronic components and systems for security, defence and space applications, including NVG.
      </div>
      <div class="panel-footer"><a href="http://www.oip.be/"  target="_blank">www.oip.be</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapsePowersonix">Powersonix	- USA</a>
      </h4>
    </div>
    <div id="collapsePowersonix" class="panel-collapse collapse">
      <div class="panel-body">
          Airborne public address systems from Power Sonix. Powerful, lightweight, compact and extremely clear loudspeakers. 
      </div>
      <div class="panel-footer"><a href="http://www.powersonix.com/"  target="_blank">www.powersonix.com</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseRhotheta">RHOTHETA Elektronik GmbH	- Germany</a>
      </h4>
    </div>
    <div id="collapseRhotheta" class="panel-collapse collapse">
      <div class="panel-body">
          RHOTHETA designs and produces reliable, high-precision direction finders for professional search-and-rescue organizations (SAR) both for ships and helicopters. 
          RHOTETA also  produce DF-system for air traffic controll (ATC) and vessel traffic service (VTS). 
      </div>
      <div class="panel-footer"><a href="https://www.rhotheta.com/"  target="_blank">www.rhotheta.com</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseSaes">SAES Electronica Submarina	- Spain</a>
      </h4>
    </div>
    <div id="collapseSaes" class="panel-collapse collapse">
      <div class="panel-body">
          SAES is the only Spanish company specialized in submarine electronics and acoustics. 
          SAES is worldwide leader in the ASW segment, involved in the new submarines and surface vessels new programs as well as in the modernization of MPA for Spanish navy and foreign navies. 
          SAES most evolved ASW system includes remote operated detection systems and Integrated Tactical Acoustic System (ITAS). 
      </div>
      <div class="panel-footer"><a href="http://www.electronica-submarina.com/?lang=en"  target="_blank">www.electronica-submarina.com</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseSpectrolab">Spectrolab Inc. - USA</a>
      </h4>
    </div>
    <div id="collapseSpectrolab" class="panel-collapse collapse">
      <div class="panel-body">
          Spectrolab has become the world standard when it comes to high-intensity helicopter searchlights, like the SX-16 NightSun searchlights and SX-5 Starburst searchlights.
      </div>
      <div class="panel-footer"><a href="http://www.spectrolab.com/"  target="_blank">www.spectrolab.com</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseSwesystem">SWESYSTEM AB	- Sweden</a>
      </h4>
    </div>
    <div id="collapseSwesystem" class="panel-collapse collapse">
      <div class="panel-body">
          Swesystem offer in house design and development of Airborne Camera Systems. 
          Fulfilling the demand of Flexible and High End systems, Swesystem today provides active Gyro Stabilization in all their products. 
          With five-axis stabilization, Swesystem offer the latest technology to the customer.
      </div>
      <div class="panel-footer"><a href="http://trakkasystems.com/"  target="_blank">www.trakkasystems.com</a></div>
    </div>
  </div>
</div>