/* .left-navigation {
    display: block;
    width: 320px;
    float: left;
    z-index: 500;
    min-height: calc(100vmin - 160px);
    height: 100%;
    text-align: center;
    background-color: white;
    position: relative;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

@media screen and (max-width: 1279px) {
    .left-navigation {
        width: 230px;
        font-size: 0.9rem;
    }
}

ul {
    list-style-type: none;
    padding: 0;
  }

.left-logo {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media screen and (max-width: 1279px) {
    .left-logo {
        padding-top: 35px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 959px) {
    .top-logo {
        padding: 25px;
    }
}



.fixed-footer {
    font-size: 0.7rem;
} */

.top-navigation {
    background-color: white;
    display: block;
    font-weight: bold;
    letter-spacing: 2px;
}

.icon-bar {
    background-color: black !important;
    height: 4px !important;
}

.menu-logo {
    padding: 30px;
}

.menu-item {
    color: black;
    font-size: 16px;
}

/* @media screen and (max-width: 959px) {
    .logo-top-size {
        width: 150px;
    }
}

@media screen and (max-width: 1279px) {
    .logo-left-size {
        width: 180px;
    }
}

.menu-item {
    padding-bottom: 50px;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0;
    border: 0;
    border-top: 0
} */