<div fxShow fxHide.lt-md>
    <div class="left-navigation">
        <div class="left-logo">
            <a  [routerLink] = "['/']">
                    <img class="logo-left-size" src="../../assets/images/logo_small.jpg">
            </a>
        </div>
    
        <ul>
            <li class="menu-item"><a style="padding-bottom: 50px; color: black;" [routerLink] = "['']">HOME</a></li>
            <li class="menu-item"><a style="padding-bottom: 50px; color: black;" [routerLink] = "['/About']">ABOUT</a></li>
            <li class="menu-item"><a style="padding-bottom: 50px; color: black;" [routerLink] = "['/Companies']">COMPANIES</a></li>
            <li class="menu-item"><a style="padding-bottom: 50px; color: black;" [routerLink] = "['/Contact']">CONTACT</a></li>
        </ul>
    
        <div class="fixed-footer">
            © Avitronics International AB
            <br>
            2017 All rights reserved.
        </div>
    </div>
</div>

<div fxShow fxHide.gt-sm="true">
    <div class="top-navigation">
        <div class="top-logo">
            <a  [routerLink] = "['/']">
                <img class="logo-top-size" src="../../assets/images/logo_small.jpg">
            </a>
        </div>
        <div class="row" style="padding-bottom: 25px;">
            <div class="col-3 top-menu-item">
                <a style="color: black;" [routerLink] = "['']">HOME</a>
            </div>
            <div class="col-3 top-menu-item">
                <a style="color: black;" [routerLink] = "['/About']">ABOUT</a>
            </div>
            <div class="col-3 top-menu-item">
                <a style="color: black;" [routerLink] = "['/Companies']">COMPANIES</a>
            </div>
            <div class="col-3 top-menu-item">
                <a style="color: black;" [routerLink] = "['/Contact']">CONTACT</a>
            </div>
        </div>
    </div>
    <div>
        <hr class="separator">
    </div>
</div>

      



      
