.section-wrapper {
    height: 100%;
    margin-left: 400px;
}

@media screen and (max-width: 1279px) {
    .section-wrapper {
        margin-left: 300px;
    }
}

@media screen and (max-width: 959px) {
    .section-wrapper {
        margin-left: 0px;
    }
}

.move-wrapper {
    background-color: #fff;
    position: relative;
    min-height: calc(100vmin - 160px);
}

.block-wrap-padding {
    padding: 50px;
}

@media screen and (max-width: 959px) {
    .block-wrap-padding {
        padding: 25px;
    }
}

.avisition {
    padding: 50px;
    font-family: 'Raleway',serif;
}

@media screen and (max-width: 959px) {
    .avisition {
        padding: 0;
        font-size: 0.7rem;
    }
}